{% extends 'base.html' %}

{% block content %}

  <h2>댓글 수정</h2>
  <form method="POST" action="{% url 'update_comment' comment.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="content">댓글 내용</label>
      <textarea class="form-control" id="content" name="content" rows="3" required>{{ comment.comment_content }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
    <a href="{% url 'posting_detail' post_id=comment.posting.post_id %}" class="btn btn-secondary">취소</a>
  </form>
{% endblock %}
<!-- templates/comment/comment_list.html -->
<div class="card-body">
  <div class="commnt_list">
    {% for comment in comment_list %}
      <div> 
        <p class="commnt_text">작성자: {{ comment.username.username }}</p>
        <p class="commnt_text">댓글내용: {{ comment.comment_content }}</p>
        <p class="commnt_text">{{ comment.create_at }}</p>
        {% if user.is_authenticated and user == comment.username %}
          <a href="{% url 'update_comment' comment_id=comment.comment_id %}" class="btn btn-secondary">수정</a>
          <form action="{% url 'delete_comment' comment_id=comment.comment_id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="삭제" class="btn btn-secondary">
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
<!-- templates/posting/posting_detail.html -->
{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="title_box">
      <h2 class="posting_detail_title">{{ posting.title }}</h2>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ posting.title }}</h5>
        <p class="card-text">{{ posting.main_content }}</p>
        <p class="card-text">{{ posting.created_at }}</p>
        <p class="card-text">{{ posting.updated_at }}</p>
        <p class="card-text">{{ posting.category }}</p>
      </div>
    </div>
    <a class="btn btn-secondary" href="{% url 'posting_list' %}">목록으로</a>
    {% if user.is_authenticated and user == posting.username %}
    <a class="btn btn-secondary" href="{% url 'update_comment' pk=comment.comment_id %}">수정하기</a>

      <form action="{% url 'delete_post' pk=posting.post_id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="삭제하기" class="btn btn-secondary">
      </form>
    {% endif %}
    <hr>
    <h3>댓글</h3>
    {% if user.is_authenticated %}
      {% include 'comment/add_comment.html' %}
    {% endif %}
    {% include 'comment/comment_list.html' %}
  </div>
{% endblock %}