{% extends '../base.html' %}

{% block title %}
  댓글 수정하기
{% endblock %}

{% block content %}
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <h1>댓글 수정하기</h1>
      <div class="form-group">
        <label for="comment_content">댓글 내용</label>
        <textarea class="form-control" style="resize: none" name='comment_content' id="comment_content">{{ comment.comment_content }}</textarea>
      </div>
      <button style="float: right;" type="submit" class="btn btn-secondary">수정하기</button>
    </form>
  </div>
{% endblock %}
