{% extends '../base.html' %}
{% block title %}
<div class="detail_title"> {{ posting.title }}</div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="title_box">
            <h2 class="posting_detail_title">{{ posting.title }}</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ posting.title }}</h5>
                <p class="card-text">{{ posting.main_content }}</p>
                <p class="card-text">{{ posting.created_at }}</p>
                <p class="card-text">{{ posting.updated_at }}</p>
                <p class="card-text">{{ posting.category }}</p>
            </div>
        </div>
        <a class="btn btn-secondary" href="/posting/posting_list">목록으로</a>
        <br>
        <h3>댓글</h3>
    </div>
{% endblock %}
