{% extends '../base.html' %}

{% block title %}
<div class="detail_title"> {{ posting.title }}</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="title_box">
    <h2 class="posting_detail_title">{{ posting.title }}</h2>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ posting.title }}</h5>
      <p class="card-text">{{ posting.main_content }}</p>
      <p class="card-text">{{ posting.created_at }}</p>
      <p class="card-text">{{ posting.updated_at }}</p>
      <p class="card-text">{{ posting.category }}</p>
    </div>
  </div>
  <a class="btn btn-secondary" href="{% url 'posting_list' %}">목록으로</a>
  {% if user.is_authenticated and user == posting.username %}
  <a class="btn btn-secondary" href="{% url 'update_post' post_id=posting.post_id %}">수정하기</a>
  <form action="{% url 'delete_post' pk=posting.post_id %}" method="post" style="display: inline;">
    {% csrf_token %}
    <input type="submit" value="삭제하기" class="btn btn-secondary">
  </form>
  {% endif %}

  <br>
  <h3>댓글</h3>
  <div class="card-body">
    <div class="commnt_list">
      {% for comment in comment_list %}
      <div>
        <p class="commnt_text">작성자: {{ comment.username }}</p>
        <p class="commnt_text">댓글내용: {{ comment.comment_content }}</p>
        <p class="commnt_text">{{ comment.create_at }}</p>
        {% if user.is_authenticated and user == comment.username %}
        <a class="btn btn-secondary" href="{% url 'update_comment' comment_id=comment.comment_id %}">수정하기</a>
        <form action="{% url 'delete_comment' comment_id=comment.comment_id %}" method="post" style="display: inline;">
          {% csrf_token %}
          <input type="submit" value="삭제하기" class="btn btn-secondary">
        </form>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">댓글을 작성해주세요</h5>
        <p>
            {% if posting %}
            <form action="{% url 'add_comment' post_id=posting.post_id %}" method="post">
          {% endif %}
          
        

          {% csrf_token %}
          <div class="form-group mb-2">
            <textarea class="form-control" style="resize: none" name='comment_content' id="comment_content"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary" style="float:right;">작성하기</button>
          
        </form>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
