{% extends '../base.html' %}

{% block title %}
<div class="detail_title"> {{ posting.title }}</div>
{% endblock %}

<style>
.comment-card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-card .card-header {
  background-color: #f5f5f5;
  border-bottom: none;
}

.comment-card .card-body {
  border-top: none;
}
</style>

{% block content %}
<br>
<div class="comment-card">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-header">{{ posting.title }}</h5>
          <p class="card-text">{{ posting.main_content }}</p>
          <small class="card-text" style="float: right;">{{ posting.create_at }}</small>
          <p class="card-text">{{ posting.category }}</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">댓글</h3>
          <br>
        </div>
        <div class="panel-body">
          {% for comment in comment_list %}
            <div class="col-md-8">
                <div class="comment-card">
                    <div class="card-header">
                        <small>작성자: {{ comment.username }}</small>
                        <small style="float: right;">{{ comment.create_at }} </small>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-8">
                    <p class="card-text">{{ comment.comment_content }}</p>
                    {% if comment.can_modify %}
                    <a class="btn btn-secondary btn-sm" href="{% url 'update_comment' comment_id=comment.comment_id %}"style="float: right;">수정</a>
                    <form action="{% url 'delete_comment' comment_id=comment.comment_id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                        <input type="submit" value="삭제" class="btn btn-secondary btn-sm" style="float: right;">
                    </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
          <div class="comment-card"> 
            <div class="card-header">
              <h5 class="card-title">댓글 작성하기</h5>
            </div>
            <div class="card-body">
              <form action="{% url 'add_comment' posting_id=posting.posting_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control" rows="3" name="comment_content" placeholder="댓글 내용을 입력하세요"></textarea>
                </div>
                <button style="float: right;" type="submit" class="btn btn-secondary">댓글등록</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {% if user.is_authenticated and user == posting.username %}
    <div class="card">
        <div class="card-body">
            <a class="btn btn-secondary" href="{% url 'update_post' posting_id=posting.posting_id %}">수정하기</a>
            {% for comment in comment_list %}
                <form action="{% url 'delete_comment' comment_id=comment.comment_id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                    <input type="submit" value="삭제" class="btn btn-secondary btn-sm" style="float: right;">
                </form>
            {% endfor %}
        </div>
    </div>
{% endif %}
  </div>
</div>
</div>
{% endblock %}


